<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="dawizards.eatting">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="cn.bmob.permission.push"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.EatingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="饭友"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".ui.activity.NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.MainActivityStudent"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.MainActivityCanteen"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.ItemFoodActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent"/>
        <activity
            android:name=".ui.activity.PostCommentActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.PostFoodActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.PostMomentActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.OldFoodActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.DustbinFoodActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.SelectActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>